/* custom.css */
.navbar-custom {
    background-color: rgba(255, 255, 255, 1); /* Белый цвет с прозрачностью */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: black !important; /* Цвет текста и ссылок */
}



body {

    background-image: url(rei.jpg);
    background-size: cover;
    font-family: comic sans ms;
    color: rgb(255, 255, 255);
    size: 1px;
    
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #000; /* Set text color to black */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #a1179c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a1179c;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #4851f5;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
